// for resetting default values to display same pages
// on every browsers; we are using 'normalize'

html {
  // after this assignment, 1rem will be 10px
  font-size: 62.5%;
}

body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: $m-size;
}
